body,
body * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    align-items: top;
}
img {
    width: 100%;
    object-fit: contain;
}   
.container {
    width: 100%;
    margin: 100px calc(50% - 600px);
}
.row {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.column {
    width: 25%;
}
.title {
    font-size: 35px;
    text-transform: uppercase;
}